.create-container {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 40rem;
  height: 45rem;
  box-shadow: 0px 10px 15px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: auto;
}

.create-event-heading {
  margin-top: 2rem;
}

.create-event-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 50%;
  margin-top: 3rem;
}

.create-event-form input {
  padding: 0.6rem;
}

.create-event-form textarea {
  padding: 0.4rem;
}

.create-btn {
  border: none;
  margin-top: 2.4rem;
  padding: 1rem 2rem;
  font-weight: 500;
  background-color: #fff;
  border-radius: 4px;
}

.create-btn:hover {
  cursor: pointer;
  background-color: rgb(237, 237, 237);
}
