.create-container {
  background-color: rgb(194, 155, 82);
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  max-width: 60rem;
  box-shadow: 0px 1px 25px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 3rem auto;
}

.create-event-heading {
  margin-top: 2rem;
}

.create-event-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 70%;
  margin-top: 3rem;
}

.create-event-form input {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 1px 15px 6px rgba(0, 0, 0, 0.1);
}

.create-event-form textarea {
  padding: 0.4rem;
}

.create-btn {
  border: none;
  margin-top: 2.4rem;
  padding: 1rem 2rem;
  font-weight: 500;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
}

.create-btn:hover {
  cursor: pointer;
  background-color: rgb(44, 44, 44);
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
  .create-event-form {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .create-event-heading {
    font-size: 1.4rem;
  }
}
