.register-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1.25rem;
  margin-top: 1.2rem;
}

.register-area input {
  padding: 0.5rem 1rem;
  width: 100%;
}

.email-area,
.password-area,
.confirm-password-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.2rem;
}

.submit-btn {
  border: none;
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-weight: 500;
  background-color: #fff;
  border-radius: 4px;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: rgb(237, 237, 237);
}

.new-account-text {
  font-size: 0.5rem;
  margin-top: 1.6rem;
  text-align: center;
}

.new-account-text a {
  color: #000;
  text-decoration: none;
}

.new-account-text a:hover {
  text-decoration: underline;
}

/* REGISTER*/

.register-container {
  background-color: rgb(194, 155, 82);
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  max-width: 40rem;
  box-shadow: 0px 1px 25px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10rem auto;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
  .register-area {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .register-title {
    font-size: 1rem;
  }
}
